
.nav-link{
    <padding:10px;
    text-transform:uppercase;
    text-decoration:none;
}
.nav-link:hover{
    color:blue;
}
div{
    margin-bottom: 20px
}
tr:nth-child{
    background-color: blueviolet;
}
tr:nth-child{
    background-color: brown;
}
.get-involve{
    border: 1px solid;
    background-color: bisque;
    padding: 20px;
    box-shadow: 20px 2px 5px;
}